.fruit {
  height: 100px;
  width: 100px;
  float: left;
  margin-right: 10px;
}

#apple {
  background: url(images/apple.png) no-repeat top left;
}

#orange {
  background: url(images/orange.png) no-repeat top left;
}

#banana {
  background: url(images/bananas.png) no-repeat top left;
}

#pear {
  background: url(images/pear.png) no-repeat top left;
}

.buyButton {
  margin: 100px 40px 0 auto;
  vertical-align: center;
}

#container {
  text-align: center;
}
