#main {
  width: 800px;
  margin: 40px auto 0 auto;
  font-family: 'Ubuntu', sans-serif;
}

.totalCash {
  text-align: center;
}

.fruit {
  height: 180px;
  width: 100px;
  border-left: 2px solid #412b17;
  border-radius: 10px;
}

#Apple {
  background: url(images/apple.png) no-repeat center 12px;
}

#Orange {
  background: url(images/orange.png) no-repeat center 12px;
}

#Banana {
  background: url(images/bananas.png) no-repeat center 12px;
}

#Pear {
  background: url(images/pear.png) no-repeat center 12px;
}

.price {
  color: white;
}

.buyButton {
  margin: 112px 40px 10px auto;
  vertical-align: center;
}

h1 {
  text-align: center;
}

#container {
  text-align: center;
  height: 180px;
  background-color: #68472a;
  border-radius: 10px;
  margin-top: -10px;
}

#inventory {
  border: 2px solid #412b17;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  padding: 20px;
}
